/*  ------------------------------------------------- */
/*  General */
/*  ------------------------------------------------- */


.back-logo3 {
  position: fixed;
  z-index: 0;
  opacity: 0.3;
  filter: blur(40px);
  -webkit-filter: blur(40);
  transform: scale(2);
  width: 100%;
  left: 30%;
  right: 0%;
  top: 10%;
  max-width: 1920px;
}

.back-glow-2 {
  position: fixed;
  z-index: 0;
  filter: blur(200px);
  -webkit-filter: blur(200px);
  width: 60%;
  opacity: 0.3;
  left: 50%;
  top: 0;
  transform: translateZ(-10px) scale(2);
}


.app-container {
  @apply px-4 sm:px-6 lg:px-8 mx-auto;
}

.font-superstar {
  @apply font-brand text-brand-3;
}

.bg-brand-1 {
  background-color: #930993 !important;
}

.bg-brand-2 {
  background-color: #641d64 !important;
}

.app-btn {
  @apply bg-brand-1 text-white font-bold py-2 px-4 rounded;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 1);
}

.app-btn:hover {
  background-color: #641d64 !important;
}

.bg-primary {
  background-color: #930993;
}

.btn-disabled {
  @apply bg-gray-400 hover:bg-gray-400 cursor-not-allowed;
}
